name: CD Pipeline

on:
    workflow_run:
        workflows: ["CI Pipeline"]
        types:
            - completed

jobs:
    build:
        runs-on: self-hosted

        steps:
            - name: Stop all containers
              run: sudo docker stop $(sudo docker ps -aq)
            - name: Remove all containers
              run: sudo docker rm $(sudo docker ps -aq)
            - name: Remove Images
              run: sudo docker rmi $(sudo docker images -q)
            - name: Pull Docker image
              run: sudo docker pull alvaroherrero/entrena-sync-client-microservice:latest
            - name: Delete Old docker container
              run: sudo docker rm -f entrena-sync-client-microservice-container || true
            - name: Run Docker Container
              run: sudo docker run -d -p 8080:8080 --name entrena-sync-client-microservice-container -e "MONGO_URI=${{secrets.MONGO_URI}}" alvaroherrero/entrena-sync-client-microservice
